html, body {
    height: 100%;
}

body {
    margin: 0;
    background: white;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR */
.boleta {
    min-height: 100vh; /* 🔥 esto quita el gris abajo */
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px 40px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
}

.logo-izq {
    width: 110px;
}

.foto-der {
    width: 90px;
    height: 110px;
    object-fit: cover;
}

.titulo {
    flex: 1;
    text-align: center;
}

.titulo h1 {
    font-size: 16px;
    margin: 0;
}

.titulo p {
    font-size: 11px;
    margin: 2px 0;
}

.titulo h2 {
    font-size: 15px;
    margin-top: 10px;
}

.titulo h3 {
    font-size: 13px;
}

/* DATOS */
.datos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 12px;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 11px;
}

th {
    border-bottom: 2px solid black;
    padding: 5px;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

/* FIRMA */
.firma {
    text-align: center;
    margin-top: 40px;
}
